<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Hello from the other side!</h1>
        <!-- Anything inside these double curly braces is taken as python code. Jinja Templating. -->
        <h2>{{2*3}}</h2>
        <!-- These variable are being passed from server.py script using Jinja Templating.-->
        <h3>{{num}}</h3>
        <h3>{{name}}</h3>
        
        <script src="" async defer></script>
        <footer><p>Copyright {{year}}. Created by Mohit Rathor</p></footer>
    </body>
</html>